aside, nav, footer{
    display: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 5px 0;
}

section{
    margin-top: 50px;
}
#content, section, .widget, body, main{
    width: 100%;
}

main section {
    width: 100%;
    }

a:link:after, 
	a:visited:after{
	   content: " (URL: " attr(href) ") ";
	   font-size: 90%;
	}

.exercises{
    width: 100%;
    padding: 0 10px 10px;
    border: 0px;
    margin-bottom: 20px;
    background: #none;
}


.widget{
    width: 100%;
    padding: 0 10px 10px;
    border: 0px;
    margin-bottom: 20px;
    background: #f9f9f9;

}
