/*
COMP 1950 Final Project
    Authors:

        Milen Dimitrov - A01022201
        Mary Do - A01024214
    ...
    more comments .... 
    ...
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Anton');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'trebuchet ms', sans-serif;
    font-size: 0.9em;
    color: #4c5454;
    height: 100vh;
}

*{
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto condensed', 'arial', sans-serif;
    text-transform: capitalize;
    margin-top: 1.5em;
    color: #05a8aa;  
}

section h1:first-child {
   margin-top: 1em;  /* smaller top margin than normal headings */
}

fieldset {
    width: 100%;
}

/* *******************************
         header elements 
********************************* */

header{
    background: #272822 url("/students/mdimitrov3/comp1950-final-project/images/header.jpg") no-repeat top right;
    
}

#page-title {
   font-size: 2.8em;
   margin: 0px;
   padding: 15px 5% 5px;
   color: #eee;
   text-transform: uppercase;
}

#page-description {
   font-size: 1.8em;
   margin: 0;  
   padding: 0px 5%;
   color: #eee;
   text-transform: uppercase;
}


header h1{
    margin-top: 0;
}

header nav ul{
    background-color: rgba(45, 42, 50, 0.8);
    list-style: none;
    margin-bottom: 10px;
    padding-left: 65px;
    padding-bottom: 35px;
    border-top: 1px solid #eee;
}

header nav ul li{
    display: inline;
    float: left;
    margin: 0;
    text-transform: capitalize;
}

header nav li a{
    display: block;
    color: #fff;
    padding: 10px 35px;
    text-decoration: none;
}

header nav ul li a:link{
    color: #fff;
    text-decoration: none;
}

header nav ul li a:visited{
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #05a8aa;
    transition: background 0.3s linear;
}

header nav ul li a:active{
    color: #4c5454;
    text-decoration: none;
    background-color: #eee;
}

/* ********************************
           Main section 
********************************** */

main{
    padding: 10px 5% 0px 5%;
}


#notification{
    background: -moz-linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    background: -ms-linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    background: -webkit-linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    background: linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    border: 1px solid #222;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#content{
    display: flex;
}

main section{
    width: calc(100%/4*3);
}

main a:link {
   color: #05a8aa;
}

main a:visited {
   color: #05a8aa;
}

main a:hover {
   color: #05a8aa;
   text-decoration: none;
}

main a:active {
   color: #05a8aa;
}

main section:last-of-type {
    padding-bottom: 30px; /* for nice amount of space at bottom */
}

main ul, ol {
   margin-top: 1em;
}

main ul li, main ol li {
   margin-bottom: 1em;
}



main dt {
   margin-top: 20px;
   margin-bottom: 10px;
}

main dd ul li:first-child {
   margin: 10px 0;
}

#sidebar{
    background: #eeec94;
    width: calc(100%/4);
    padding: 0px 15px;
    color: #4c5454;
}

#sidebar h3 {
    color: #4c5454;
}

#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
   border-bottom: 1px solid #4c5454;  
   line-height: 2.5em;
   margin: 0;
}

#sidebar ul li {
   text-decoration: none;  
   padding-left: 5px;
   display: block;
}

#sidebar ul li {
   text-decoration: none;  
   display: block;
}

#sidebar ul li:hover {
   background: -webkit-linear-gradient(left, #fff, transparent);
   background: -moz-linear-gradient(left, #fff, transparent);
   background: -ms-linear-gradient(left, #fff, transparent);
   background: -o-linear-gradient(left, #fff, transparent);
   background: linear-gradient(left, #fff, transparent);
   text-decoration: none;  
   display: block;
}

#sidebar ul li a {
   text-decoration: none;
   display: block;
}

#sidebar ul li a:hover { 	
   color: #aa0705;
}

#sidebar ul li a:active {
   color: #05a8aa;  
}

#sidebar .exercise {
   background-color: #DDDC89;
}

#sidebar .quiz-hw {
   background-color: #F6F5CD;
}

.widget{
    width: 95%;
    padding: 0 10px 10px;
    border: 1px solid #EFEFD5;
    margin-bottom: 20px;
    background: #f9f9f9;

}

.exercises{
    width: 95%;
    padding: 0 10px 10px;
    border: 1px solid #EFEFD5;
    margin-bottom: 20px;
    background: #EEEC94;
}

.widget h2, .exercises h2{
    padding: 10px 0 0 20px;
    margin: 0 0 0 -20px;
    width: 400px;
    border-bottom: 5px solid;


}
  
/* *************************
      footer elements 
*************************** */

footer{
   color: #eee;
   background-color: #2d2a32;
}

footer div {
   padding: 0 5%;
}

footer section{
    width:calc(100% / 3);
    float: left;
    margin-bottom: 10px;
}

footer aside{
    clear: both;
    padding: 0 5%;
    background-color: #111;
}

footer aside p{
    padding: 15px 0;
    margin: 0;
}

footer ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

footer ul li {
   margin-bottom: 10px;  
}

footer a {
   color: #eee;
   text-decoration: none;
   margin-left: 5px;
}

footer a:link {
   color: #eee;
   text-decoration: none;
}

footer a:hover {
   color: #eee;
   text-decoration: underline;
}

footer a:visited {
   color: #eee;
   text-decoration: none;
}

footer a:active {
   color: #05a8aa;
   text-decoration: underline;
}

body a.btn {
  background: -webkit-linear-gradient(top, #05a8aa, #2d2a32);
  background: -moz-linear-gradient(top, #05a8aa, #2d2a32);
  background: -ms-linear-gradient(top, #05a8aa, #2d2a32);
  background: -o-linear-gradient(top, #05a8aa, #2d2a32);
  background: linear-gradient(top, #05a8aa, #2d2a32);
  border: #444 1px solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 200px;
  color: #fff;
  display: block;
  margin: 20px 0px;
  padding: 10px;
  text-decoration: none;
}

body a.btn:hover {
  background: -webkit-linear-gradient(top, #037576, #111);
  background: -moz-linear-gradient(top, #037576, #111);
  background: -ms-linear-gradient(top, #037576, #111);
  background: -o-linear-gradient(top, #037576, #111);
  background: linear-gradient(top, #037576, #111);
  text-decoration: none;
}


/* *************************
      media queries 
*************************** */


@media only screen and (max-width: 1100px)
{  
    body a.btn{
        width: 100%;
    }
    
}

@media only screen and (max-width: 840px)
{  
    #content{
        display: block;
    }
    
    section, #sidebar{
        width: 100%;
    }
    
    main section {
    width: 100%;
    }
    
}

@media only screen and (max-width: 600px)
{  
    footer section {
    width: 100%;
    }
    
    .widget h2, .exercises h2 {
    margin: 0;
    width: 100%;
}