/*
COMP 1950 Final Project
    Authors:

        Milen Dimitrov - A01022201
        Mary Do - A01024214
    ...
    more comments .... 
    ...
*/

@import url('https://fonts.googleapis.com/css?family=Roboto|Anton');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'roboto', 'trebuchet ms', sans-serif;
    font-size: 0.9em;
    color: #4c5454;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto condensed', 'arial', sans-serif;
    text-transform: capitalize;
    margin-top: 1.5em;
    color: #05a8aa;  
}

section h1:first-child {
   margin-top: 1em;  /* smaller top margin than normal headings */
}

fieldset {
    width: 100%;
}

/* *******************************
         header elements 
********************************* */

header{
    background: #272822 url("/students/mdimitrov3/comp1950-final-project/images/header.jpg") no-repeat top right;
    flex: 1 0 auto;
}

#page-title {
   font-size: 2.8em;
   margin: 0px;
   padding: 15px 5% 5px;
   color: #eee;
   text-transform: uppercase;
}

#page-description {
   font-size: 1.8em;
   margin: 0 0 10px 0;
   padding: 0px 5%;
   color: #eee;
   text-transform: uppercase;
}


header h1{
    margin-top: 0;
}

nav > ul{
    background-color: rgba(45, 42, 50, 0.8);
    list-style: none;
    margin: 0px;
    padding-left: 65px;
    padding-bottom: 33px;
    border-top: 1px solid #ccc;
}

nav ul li{
    display: inline;
    position: relative;
    float: left;
    margin: 0;
    text-transform: capitalize;
}

nav ul li.active {
   background-color: #037576;  
}

nav li > a{
    display: block;
    color: #fff;
    padding: 10px 35px;
    text-decoration: none;
}

nav ul li a:link{
    color: #fff;
    text-decoration: none;
}

nav ul li a:visited{
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #05a8aa;
    transition: background 0.3s linear;
}

nav ul li a:active{
    color: #4c5454;
    text-decoration: none;
    background-color: #eee;
}

nav ul li > ul {
    min-width: 500px;
    background-color: #05a8aa;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    margin: 0;
    padding: 0;
}

nav ul li.dropdown:hover {  
    background-color: #05a8aa; /* dropdown li looks "active" */
}

nav ul li:hover ul.dropdown-content {
   display: block; 
   -webkit-box-shadow: 10px 10px 15px -3px rgba(17,17,17,0.7);
   -moz-box-shadow: 10px 10px 15px -3px rgba(17,17,17,0.7);
   box-shadow: 10px 10px 15px -3px rgba(17,17,17,0.7);
}

nav ul li ul.dropdown-content li {
   display: block;  
   width: 50%;

}

nav ul li ul li a {
   color: #fff;
   margin: 5px;
   padding: 10px 0px 10px 20px;
}

nav ul li ul li a:hover {
   background-color: #222;
}

.slicknav_menu {
		display:none;
	}

/* *****************************************!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 * *******************************************/
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em;
  }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em; }
    .slicknav_menu .slicknav_icon:before {
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); 
   }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em;
display: none;}
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: block; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 1.25em;
  box-sizing: border-box;
  background: #fff;
  padding: 10px;
  letter-spacing: 1px;
  line-height: 1.75em;
  text-align: center;}
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #3d5a80;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;

  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff; 
  color: #3d5a80;}

.slicknav_btn:active {
   background-color: #efe;
}

.slicknav_nav {
  color: #3d5a80;
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  list-style: none;
  overflow: hidden; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #fff;
      color: #3d5a80; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #05A8AA;
    outline: none; }
    .slicknav_nav a:hover, .slicknav_nav a:active {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #05A8AA;
      color: #fff; 
      -moz-transition: background 0.5s linear;
      -ms-transition: background 0.5s linear;
      -webkit-transition: background 0.5s linear;
      transition: background 0.5s linear;}
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #05A8AA;
  font-size: 2em;
  line-height: 35px;
  padding: 5px;
  height: 44px; 
  font-weight: bold}

/* ********************************
           Main section 
********************************** */

main{
    padding: 10px 5% 0px 5%;
    flex: 8 0 auto;
}

#notification{
    background: -moz-linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    background: -ms-linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    background: -webkit-linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    background: linear-gradient(top, rgba(221, 217, 42, 0.3) , rgba(238, 238, 238, 0.5));
    border: 1px solid #bbb;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

#content{
    display: flex;
}

main section{
    width: calc(100%/4*3);
}

main a:link {
   color: #05a8aa;
}

main a:visited {
   color: #05a8aa;
}

main a:hover {
   color: #05a8aa;
   text-decoration: none;
}

main a:active {
   color: #05a8aa;
}

main section:last-of-type {
    padding-bottom: 30px; /* for nice amount of space at bottom */
}

main ul, ol {
   margin-top: 1em;
}

main ul li, main ol li {
   margin-bottom: 1em;
}


main dt {
   margin-top: 20px;
   margin-bottom: 10px;
}

main dd ul li:first-child {
   margin: 10px 0;
}

#sidebar{
    background: #eeec94;
    width: calc(100%/4);
    padding: 0px 15px;
    color: #4c5454;
}

#sidebar h3 {
    color: #4c5454;
}

#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
   border-bottom: 1px solid #4c5454;  
   line-height: 2.5em;
   margin: 0;
}

#sidebar ul li {
   text-decoration: none;  
   padding-left: 5px;
   display: block;
}

#sidebar ul li {
   text-decoration: none;  
   display: block;
}

#sidebar ul li:hover {
   background: -webkit-linear-gradient(left, #fff, transparent);
   background: -moz-linear-gradient(left, #fff, transparent);
   background: -ms-linear-gradient(left, #fff, transparent);
   background: -o-linear-gradient(left, #fff, transparent);
   background: linear-gradient(left, #fff, transparent);
   text-decoration: none;  
   display: block;
}

#sidebar ul li a {
   text-decoration: none;
   display: block;
}

#sidebar ul li a:hover { 	
   color: #aa0705;
}

#sidebar ul li a:active {
   color: #05a8aa;  
}

#sidebar .exercise {
   background-color: #DDDC89;
}

#sidebar .quiz-hw {
   background-color: #F6F5CD;
}

.widget{
    width: 95%;
    padding: 0 10px 10px;
    border: 1px solid #EFEFD5;
    margin-bottom: 20px;
    background: #f9f9f9;

}

.exercises{
    width: 95%;
    padding: 0 10px 10px;
    border: 1px solid #EFEFD5;
    margin-bottom: 20px;
    background: #EEEC94;
}

.widget h2, .exercises h2{
    padding: 10px 0 0 20px;
    margin: 0 0 0 -20px;
    max-width: 50%;
    border-bottom: 5px solid;


}
  
/* *************************
      footer elements 
*************************** */

footer{
   color: #eee;
   background-color: #111;
   flex: 1 0 auto;
}

footer div {
   padding: 0 5%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #2d2a32;
}

footer section{
    width: calc(100%/3);
    margin-bottom: 10px;
    background-color: #2d2a32;
}

footer aside{
    clear: both;
    padding: 0 5%;
    background-color: #111;
}

footer aside p{
    padding: 15px 0;
    margin: 0;
}

footer ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

footer ul li {
   margin-bottom: 10px;  
}

footer a {
   color: #eee;
   text-decoration: none;
   margin-left: 5px;
}

footer a:link {
   color: #eee;
   text-decoration: none;
}

footer a:hover {
   color: #eee;
   text-decoration: underline;
}

footer a:visited {
   color: #eee;
   text-decoration: none;
}

footer a:active {
   color: #05a8aa;
   text-decoration: underline;
}

body a.btn {
  background: -webkit-linear-gradient(top, #05a8aa, #2d2a32);
  background: -moz-linear-gradient(top, #05a8aa, #2d2a32);
  background: -ms-linear-gradient(top, #05a8aa, #2d2a32);
  background: -o-linear-gradient(top, #05a8aa, #2d2a32);
  background: linear-gradient(top, #05a8aa, #2d2a32);
  border: #444 1px solid;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 200px;
  color: #fff;
  display: block;
  margin: 20px 0px;
  padding: 10px;
  text-decoration: none;
}

body a.btn:hover {
  background: -webkit-linear-gradient(top, #037576, #111);
  background: -moz-linear-gradient(top, #037576, #111);
  background: -ms-linear-gradient(top, #037576, #111);
  background: -o-linear-gradient(top, #037576, #111);
  background: linear-gradient(top, #037576, #111);
  text-decoration: none;
}


/* *************************
      media queries 
*************************** */


@media only screen and (max-width: 1100px)
{  
    body a.btn{
        width: 100%;
    }
    
}

@media only screen and (max-width: 840px)
{  
    #content{
        display: block;
    }
    
    section, #sidebar{
        width: 100%;
    }
    
    main section {
    width: 100%;
    }
    nav ul li ul.dropdown-content li {
    
    width: 100%;
    }
    
    nav ul li > ul {
    min-width: 220px;
    }
}

@media only screen and (max-width: 700px) {
   
   
	/* #menu is the original menu */
	nav, header {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
 
}

@media only screen and (max-width: 600px)
{  
    footer section {
    width: 100%;
    
    }
    
    footer div{
        display: block;
        padding: 10px 0;
    }
    
    .widget h2, .exercises h2 {
    margin: 0;
    width: 100%;
}